<%= link_to 'Administrador', noticia_path %>

<h1>¡¡ Bienvenido a tu página favorita de noticias !!</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Bajada</th>
      <th>Cuerpo</th>
      <th>Fecha de Publicación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ultimas.each do |noticium| %>
      <tr>
        <td><%= noticium.titulo %></td>
        <td><%= noticium.bajada %></td>
        <td><%= noticium.cuerpo %></td>
        <td><%= noticium.created_at %></td>
        <td><%= link_to 'Show', welcome_userShow_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

